<h3>Edit Student Details</h3>
{{#if msg}}
<div class="alert">{{msg}}</div>
{{/if}}

{{#each rows}}
<div class="new_user">
<form action="/edituser/{{this.ID}}" method="post">
    <div class="form_grp">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"  value="{{this.Name}}">
    </div>

    <div class="form_grp">
        <label for="age">Age</label>
        <input type="text" name="age" id="age" value="{{this.Age}}" >
    </div>

    <div class="form_grp">
        <label for="city">City</label>
        <input type="text" name="city" id="city"  value="{{this.City}}">
    </div>

    <div class="form_grp1">
        <button type="submit" id="edit_btn">Save changes</button>
        <a href="/" class="edit_view">View All</a>
    </div>
</form>
</div>
{{/each }}